* {
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
}

html {
	width: 100%;
	height: 97%;
	background-color: #effff3;
	
}
body {
	position: relative;
	width: 98%;
	height: 99%;
	margin: 0.8em auto;
	font-family: 'Englebert', sans-serif;
	overflow: hidden;

	background-color: #effff3;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);*/
}
a {
	text-decoration: none;
	
}
ul li {
	display: inline;
	text-shadow: 1px 1px #d7e5da;
}
nav {
	position: relative;
	
	height: 10%;
	padding: 1em 1em 2em 1em;
	/*border-bottom: 1px solid #000;*/

	
}
.leftNav {
	position: relative;

	float: left;
	font-size: 1.6em;
}
.rightNav {
	position: relative;
	top: .6em;
	float: right;
	margin-right: 1em;
}
nav ul li {
	text-transform: lowercase;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.4em;
	margin: 1em;
}
nav a {
	color: #5C9EFE;
}
a.rightNav:hover {
	border-bottom:2px solid #739A00;
	color:#739A00;
	padding-bottom: 1.4%;
}

#borderLine {
	height: 1px;
	width: 99%;
	margin-left: .5%;
	background-color:#d7e5da; 
	float: left;

	z-index: 1000;
}
.overlay {
	display:none;
	width: 100%;
	height:90%;
	background: #effff3;
	position: absolute;
	top: 8%;
	left: 0;
	margin-top:2%;
	
	float: left;
	clear:left;
	
	
}
#resumeContent {
	overflow-y:scroll;	
	overflow-x:hidden;
}
.overlay2 {
	display: none;
	width: 100%;
	height:90%;
	background: #effff3;
	position: absolute;
	top: 8%;
	left: 0;
	margin-top:2%;
	/*z-index: 1000;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;*/
}
.overlay3 {

	width:100%;
	height:90%;
	background: #effff3;
	position: absolute;
	top: 8%;
	left: 0;
	margin-top: 2%;
	
}
.dispClass {
	display: none;
}
.direct {
	background: #FFFFD6;
	position: relative;
	height: auto;
	width: 600px;
	border-radius: 3px;
	top: 6%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);

}
.dirTitle {
	position:relative;
	padding-top:10px;
	color: #5C9EFE;
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.0em;
	text-align: center;
	
}
.dirText1 {
	width: 100%;
	margin-left:1%;
	
}

.dirText2 {
	
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	text-align: center;

}
.mapWidget {
	position: relative;
	max-height: 320px;
	margin-left: 9%;
	margin-top: 5%;
	overflow: auto;
}
#bottomTxt {
	text-align: center;
	margin-left: 3%;
	margin-right: 3%;
}
.returnButton {
	position: absolute;
	bottom: 7.5%;
	right: 7.5%;
	height:75px;
	width:150px;
	border-radius: 3px;
	background-color: #68b406;
	display: table-cell;
	font-family: 'Englebert', sans-serif;
	font-size: 3.0em;
	text-align: center;

	
}
.returnButton > a {
	display: block;
	padding: 13px;
	color: #FFFFD6;
	text-transform: uppercase;
	vertical-align: middle;
	
}	
.inputBoxes {
	width:175px;
	height:30px;
	border-radius: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	color: #5C9EFE;
	padding: 0.8em 0;
	margin: 0.8em  1.0em 0 0;
}
.inputBoxes2 {
	width:459px;
	height:30px;
	border-radius: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	color: #5C9EFE;
	padding:0.8em 0;
	margin:0.8em 1.0em 0 0;

}
.inputBoxes3 {
	width:204px;
	height:30px;
	border-radius:3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	color: #5C9EFE;
	padding:0.8em 0;
	margin:0.8em 1.0em 0 0;
}
.inputBoxes4 {
	width:100px;
	height:30px;
	border-radius: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	color: #5C9EFE;
	padding:0.8em 0;
	margin:0.8em 1.0em 0 0;
}
.inputBoxes5 {
	width: 120px;
	height:30px;
	border-radius: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	color: #5C9EFE;
	padding: 0.8em 0;
	margin:0.8em 1.0em 0 0;
}
.inputBoxes6 {
	width:175px;
	height:30px;
	border-radius: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	color: #5C9EFE;
	padding: 0.8em 0;
}	
.stateDropDown {
	width: 60px;
	height:35px;
	border-radius: 3px;
	color: #5C9EFE;
	margin-top:1.0em;

}
#addressFirstLine {
	display: inline;
	padding-left: 13px;
}
#addressSecondLine {
	display: inline;
	padding-left: 32px;
}
#city {
	display: inline;
	padding-left: 10px;

	
}
#statePicker {
	display: inline;
	padding-left: 48px;
	position: relative;
	top: -2px;
}
#inputContainer {
	padding: 0.5em;
}
#portfolioContainer {
	height: inherit;
	width: inherit;
	padding-left: 5%;
}

.inputLabels {
	padding-right: 1em;
}
#zipCode {
	padding-left:15px;
}
.timeDropDown {
	width:85px;
	height:35px;
	border-radius: 3px;
	color: #5C9EFE;
	margin-top:1.0em;
	margin-left: 46px;

}
#timeSelect {
	position: relative;
	top: -5px;
	display:inline;
	margin-bottom:5px;
}
.timeSpan {
	left:1px;

	padding-left: 17px;

}
#apptText {
	margin-top:2%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	text-align: center;
	color: #5C9EFE;
}
a.email {
	color:#5C9EFE;
}
.listItems {
	color:#5C9EFE;
}

.portfolioItem {
	display: inline-block;
	width: 30%;
	height: 35%;
	background-color: #000;
	border-radius: 5px;
	margin-top: 5%;
}
/*div.portfolioItem:hover {
	position: fixed;
	left: 5%;
	width:90%;
	height:75%;
	background-color: #5C9EFE;
	border-radius: 5px;
	margin-top: 5%;
	z-index: 1000;
}*/
.picSz {
	max-width: 30%;
	max-height: 35%;
}